*{
  box-sizing: border-box;

}
body {
  font-size: 16px;
  color: #fff;
  background-color: #611fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #b6f319;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #565895;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffff49;
  text-align: center;
}
#nav-list a:hover {
  background: #FF9911;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-nav>li>a{
  padding-bottom: 0;
  padding-top: 0;
  font-weight: bold;
}
/* END HEADER */



/* HOME PAGE */
h2{
   font-size: 2em;
   font-weight: bold;
}

#con{
  height:1000px;

 
}

#content{
  background-color: grey;

}
#div-head{
   margin-bottom: 15px;
   margin-top: 10px;
   font-size: 1.5em;
   font-weight: bold;

}


/********** Large devices only **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .container-fluid{
    padding-right: 50px;
    padding-left: 50px;
  }
}
  
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  
  }
  /* End Header */
  
  /* Home page */
 
  
}



